@model TurboType.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
 
        <div class="input-group form-group">
            <span class="input-group-addon">Email</span>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Почта" })
        </div>
        <div class="input-group form-group">
            <span class="input-group-addon">Login</span>
            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @placeholder = "Логин" })
        </div>
        <div class="input-group form-group">
            <span class="input-group-addon">Password</span>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Пароль" })
        </div>
        <div class="input-group form-group">
            <span class="input-group-addon">Confirm password</span>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Еще раз пароль" })
        </div>

    <div class="form-group">
        <div class="col-xs-12">
            <button type="submit" name="submit" class="btn btn-block btn-success">
                Зарегистрироваться
            </button></div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
