@model TurboType.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div>
    <div class="container manage-container">
        <hr />
        <h1 class="font-h1">Личный кабинет</h1>
        <hr />
        <div class="col-xs-8">
            <div class="level-container" style="display:inline-block;">
                <span class="level-text">@(ViewBag.User.Rating % 200) из 200</span>
                <div class="level-num" style="display:inline; float:right;">@ViewBag.User.Level</div>
                <div class="rating-bar">
                    <div class="rating-1" style="width:@(ViewBag.User.Rating % 200 /2)%"></div>
                </div>
            </div>
            <br/>
            <br/>
            @using (Ajax.BeginForm("ChangeProfile", "Manage", new AjaxOptions()))
            {
            <div class="form-horizontal manage-input-container">

                <div class="input-group form-group">
                    <span class="input-group-addon">Логин</span>
                    <input readonly="readonly" class="form-control" value="@ViewBag.User.Login" />
                </div>
                <div class="input-group form-group">
                    <span class="input-group-addon">Фамилия</span>
                    <input class="form-control" value="@ViewBag.User.LastName" name="LastName" />
                </div>
                <div class="input-group form-group">
                    <span class="input-group-addon">Имя</span>
                    <input class="form-control" value="@ViewBag.User.FirstName"name="FirstName" />
                </div>
                <div class="input-group form-group">
                    <span class="input-group-addon">Отчество</span>
                    <input class="form-control" value="@ViewBag.User.Patronymic"name="Patronymic" />
                </div>

                <button class="btn change-btn" style="float:right;">Изменить</button>
                <a href="Manage/ChangePassword" class="btn btn-default" style="float:right;">Изменить пароль</a>

                @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-xs-12  order-text-overflow">
                            <input type="file" class="btn btn-block btn-default order-text-overflow" name="upload" accept="image/*,image/jpeg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" style="float:right;" class="btn btn-success btn-block order-text-overflow">Загрузить выбранное фото<i class="fa fa-upload"></i></button>
                        </div>

                    </div> }
            </div>
            }
        </div>
        <div class="container col-xs-4">

            <div style="display:inline-block;" class="user-photo">
                <img class=" thumbnail user-photo" src="~/Photos/@ViewBag.User.Photo" />
            </div>
        </div>

        



    </div>

    @*
        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication
    *@
    @*
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Change", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </dd>
    *@

    @*@if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Enabled
                <input type="submit" value="Disable" class="btn btn-link" />
                </text>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Disabled
                <input type="submit" value="Enable" class="btn btn-link" />
                </text>
            }
        }*@

</div>
